---
layout: default-blankwide
permalink: /DrawingCanvas/CSTA-2022/Replay/DrawingCanvas
title: "Pixel Pandemonium"
excerpt: "Pixel Pandemonium"
    
canvascolors: 14  
    
numrows: 12
numcols: 26

subcols: 5
subrows: 3

canvaswidth: 1560
canvasheight: 432

colorpickerwidth: 64
colorpickerheight: 64

instructionsjs: "../../../files/drawingcanvas-cs4allpa2022/Post-It_CSforALLinPA_RWB_bk_v6x_composite.js"

dogrid: true
dofreedraw: false

fayelink: "https://faye-pub-sub-and-replay-data-store-multi-image-BillJr99.replit.app"
replaylink: "https://faye-pub-sub-and-replay-data-store-multi-image-BillJr99.replit.app"
linksuffix: "csta-2022"

replaysleepms: 5

instructionswidth: 896
instructionsheight: 504

rectangleepsilon: 1

clickable: false

finishedvideo: 
  link: "./Reveal"
  text: "Click to see your finished videos here!"

citation: "We are indebted to Dr. Jane E. Huggins, Associate Research Scientist at the University of Michigan, Ann Arbor, for providing the image that graces the left side of the screen."

---

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<style>
#canvascontainer {
 width: {{ page.canvaswidth | plus:100 }}px;
 height: {{ page.canvasheight | plus:10 }}px;
}

#yheadercanvascontainer {   
 float: left;
 width: 50px;
 height: {{ page.canvasheight }}px;
 margin: 0;
 padding: 0;
 display: inline-block;
}

#maincanvascontainer { 
 float: left;
 width: {{ page.canvaswidth }}px;
 height: {{ page.canvasheight }}px;
 margin: 0;
 padding: 0;
 display: inline-block;
}
</style>

{% if page.fayelink %}
<!-- Run corresponding repl.it -->
<script type="text/javascript" 
        src="{{ page.fayelink }}/faye/client.js">
        </script>
{% endif %}

<script language="javascript" type="text/javascript" src="{{ page.instructionsjs }}?t={{ site.time | date_to_xmlschema }}"></script>
        
<!-- https://medium.com/@joehanson/multi-user-javascript-virtual-whiteboard-28e4b24ef3e2 -->

<!-- Set color palette and dimensions above according to mail merge post it posterizer colors and drawing grid, if using post-its; create and give out mail merge document -->

<canvas id="xheadercanvas" width="{{ page.canvaswidth | plus:150 }}" height="50" style="border:0px solid #ffffff;"></canvas>
<br>
<div id="canvascontainer">
<div id="yheadercanvascontainer">
<canvas id="yheadercanvas" width="50" height="{{ page.canvasheight }}" style="border:0px solid #ffffff;"></canvas>
</div>
<div id="maincanvascontainer">
<canvas id="drawCanvas" width="{{ page.canvaswidth }}" height="{{ page.canvasheight }}" style="border:1px solid #000000;"></canvas>
</div>
</div>

<br><br>

{% if page.clickable %}
<div id="colorpicker" style="max-width:{{ page.instructionswidth | default: 560}}px;">
{% for i in (0..page.canvascolors) %}
{% if i < page.canvascolors %}
<canvas id="canvascolor{{ i }}" width="{{ page.colorpickerwidth }}" height="{{ page.colorpickerheight }}" style="border:1px solid #000000;"></canvas>
{% endif %}
{% endfor %}
</div>

<br>
{% endif %}

{% if page.instructionstext %}
<br>
<div id="instructionstext" style="max-width:{{ page.instructionswidth | default: 560}}px;">
<strong>What to Do:</strong><br>
{{ page.instructionstext }}
</div>
<br>
{% endif %}

{% if page.instructionslink %}
<br>
<div id="instructionslink" style="max-width:{{ page.instructionswidth | default: 560}}px;">
<a href="{{ page.instructionslink }}" target="_blank">Click here for the Instructions</a>
</div>
<br>
{% endif %}

{% if page.finishedvideo %}
<center>
<a href="{{page.finishedvideo.link}}">{{page.finishedvideo.text}}</a>
</center>
<br>
{% endif %}

{% if page.citation %}
<center>
{{ page.citation }}
</center>
<br>
{% endif %}

<br>

{% if page.links %}
{% for i in (0..page.links.size) %}
{% if i < page.links.size %}
<a href="{{page.links[i].link}}">{{page.links[i].title}}</a><br>
{% endif %}
{% endfor %}
{% endif %}

<br>

{% if page.clickable %}
<!-- Color chooser is set by the color picker -->
<input type="color" id="colorpicker" name="colorpicker" value="#ff0000" style="visibility: hidden">
{% endif %}

<br><br>

<script type="text/javascript">
var canvas = document.getElementById('drawCanvas');
var ctx = canvas.getContext('2d');
var colorpicker = document.getElementById('colorpicker');

ctx.lineWidth = '3';

{% if page.clickable %}
// https://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb
function rgbToHex(r, g, b) {
  return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
}

// palettes for pre made color choosers; will be placed sequentially into numbered canvascolorN elements
var palettes = [];
for(var i = 0; i < {{ page.canvascolors }} && i < palette.length; i++) {
    palettes.push(rgbToHex(palette[i][0], palette[i][1], palette[i][2])); // palette defined in post it instructionsjs
}
function colorpaletteclicked(e) {
    var id = e.target.id;
    
    id = id.replace("canvascolor", "");
    
    id = parseInt(id);
    
    chosencolor = palettes[id];
    
    colorpicker.value = chosencolor;
    
    //console.log(id);
    //console.log(chosencolor);
}

function makeColorPalette(colorcanvas, fillcolor, label) {
    var colorctx = colorcanvas.getContext('2d');
    
    // Color it in with the predefined palette
    colorctx.fillStyle = fillcolor;
    colorctx.fillRect(0, 0, colorcanvas.width, colorcanvas.height);
    
    // Label the color with a number
    colorctx.font = "18px Arial";
    if(fillcolor == '#000000') {
        colorctx.fillStyle = "white";    
        colorctx.strokeStyle = "white";         
    } else {
        colorctx.fillStyle = "black";    
        colorctx.strokeStyle = "black"; 
    }
    colorctx.fillText(label, (colorcanvas.width / 2.0) * 0.9, (colorcanvas.height / 2.0) * 0.9);
}

function makeColorPalettes() {
    for(var i = 0; i < palettes.length; i++) {
        var colorcanvas = document.getElementById('canvascolor' + i);
        makeColorPalette(colorcanvas, palettes[i], i);
        
        // Add a listener here that, when clicked, sets the main color picker color value
        colorcanvas.addEventListener('mousedown', colorpaletteclicked, false);        
    }
}

makeColorPalettes();
{% endif %}

{% if page.dogrid %}
// ***** OPTION: GRID SUPPORT *****
// for labeling the grid
var xlabels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

// canvas width is 800x600 by default; use these to set the number of elements: 800/width = num cols, 600/height = num rows
// note that numcols must be < 26, otherwise a conversion must be written to go from column letter to number beyond one character (see .charCodeAt(0)) in all pages
var numcols = {{ page.numcols }}; 
var numrows = {{ page.numrows }}; 
var gridwidth = {{ page.canvaswidth }} / numcols;
var gridheight = {{ page.canvasheight }} / numrows;

// subcols and subrows provide subsquares within each grid element for the individual fill-ins
var subcols = {{ page.subcols }};
var subrows = {{ page.subrows }};

{% if page.clickable %}
function gridListeners() {
    canvas.addEventListener('mousedown', fillgrid, false);
}
{% endif %}

{% if page.replaylink %}
{% if page.clickable %}
function doReplaySend(leftx, topy, gridwidth, subcols, gridheight, subrows, colorvalue, xsquare, ysquare) {
    message = leftx + "," + topy + "," + gridwidth / subcols + "," + gridheight / subrows + "," + colorvalue + "," + xsquare + "," + ysquare;
    
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{ page.replaylink }}/insert{% if page.linksuffix %}?name={{page.linksuffix}}{% endif %}", true);
    
    xhr.onreadystatechange = function () {
        if (this.readyState != 4) return;

        if (this.status == 200) {
            var data = JSON.parse(this.responseText);

            console.log("Replay Message Sent");
        }
    };
    
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
    xhr.send("data=" + message);
}
{% endif %}

function doReplayDispatch(data, i) {
    console.log("Dispatching row " + i + " of data: " + data + " with length " + data.length + "; data[" + i + "] = " + data[i] + " / " + JSON.stringify(data[i]));
    
    if(i < data.length) {
        row = data[i];
        
        id = row["ID"]; // was index 0
        timestamp = row["TIMESTAMP"]; // was index 1
        msg = row["DATA"]; // was index 2
        
        var msgparts = msg.split(',');
        
        var leftx = msgparts[0];
        var topy = msgparts[1];
        var rectwidth = msgparts[2];
        var rectheight = msgparts[3];
        var rectcolor = msgparts[4];
        var xsquare = msgparts[5];
        var ysquare = msgparts[6];
        
        {% if page.replaysleepms %}                
        var delayTime = {{ page.replaysleepms }};
        {% else %}
        var delayTime = 0;
        {% endif %}
        
        // sleep to animate re-drawing from the beginning
        drawGridSquare(leftx, topy, rectwidth, rectheight, rectcolor, xsquare, ysquare); 
        
        setTimeout(function() { 
            // call drawrect method
            doReplayDispatch(data, i+1);
         }, delayTime); 
    }
}

function doReplayGet() {    
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "{{ page.replaylink }}/retrieve{% if page.linksuffix %}?name={{page.linksuffix}}{% endif %}", true);
    
    xhr.onreadystatechange = function () {
        if (this.readyState != 4) return;

        if (this.status == 200) {
            var data = JSON.parse(this.responseText);

            console.log("Replay Message Retrieved");
            console.log(data);
            
            doReplayDispatch(data, 0);
        }
    };
    
    xhr.send();   
}
{% endif %}

{% if page.fayelink %}
// Pub-sub
var fayeclient = new Faye.Client('{{ page.fayelink }}/faye');

fayeclient.addExtension({
  outgoing: function(message, callback) {
    if (message.channel === '/meta/handshake') {
      if (!message.ext) { message.ext = {}; }
      message.ext.origin = window.location.origin;
    }
    callback(message);
  }
});

fayeclient.setHeader("Access-Control-Allow-Origin", "*");

function doFayeSubscribe() {
  fayeclient.subscribe('/faye/messages{% if page.linksuffix %}/{{page.linksuffix}}{% endif %}', function(message) {
    //console.log("Message: " + message.text);
    
    var msg = message.text;
    var msgparts = msg.split(',');
    
    var leftx = msgparts[0];
    var topy = msgparts[1];
    var rectwidth = msgparts[2];
    var rectheight = msgparts[3];
    var rectcolor = msgparts[4];
    var xsquare = msgparts[5];
    var ysquare = msgparts[6];
    
    // call drawrect method
    drawGridSquare(leftx, topy, rectwidth, rectheight, rectcolor, xsquare, ysquare);
  });    
}

{% if page.clickable %}
function doFayeSend(leftx, topy, gridwidth, subcols, gridheight, subrows, colorvalue, xsquare, ysquare) {
    message = leftx + "," + topy + "," + gridwidth / subcols + "," + gridheight / subrows + "," + colorvalue + "," + xsquare + "," + ysquare;
    
    fayeclient.publish('/faye/messages{% if page.linksuffix %}/{{page.linksuffix}}{% endif %}', {
      text: message
    });     
}
{% endif %}
{% endif %}

// call this to initialize the grid; comment to disable
makeGrid(canvas.width, canvas.height, gridwidth, gridheight);

{% if page.clickable %}
// call this to add click listener to fill in rectangle; comment to disable
gridListeners();
{% endif %}

{% if page.fayelink %}
// call this to set up pub-sub; comment to disable
doFayeSubscribe();
{% endif %}

{% if page.replaylink %}
// retrieve and draw the board
doReplayGet();
{% endif %}

// https://stackoverflow.com/questions/11735856/draw-grid-table-on-canvas-html5
// bwidth/bheight is the dimension of the canvas board, and rwidth/rheight is the dimension of the rectangle in the grid
function makeGrid(bwidth, bheight, rwidth, rheight) {
    ctx.strokeStyle = "black";
    
    var xlines = -1;
    
    for (var x = 0; x <= bwidth + 1; x += rwidth / subcols) {
        xlines = xlines + 1;
        
        if(xlines == subcols) {
            xlines = 0;
        }
        
        if(xlines == 0) {
            ctx.lineWidth = '3';
        } else {
            ctx.lineWidth = '1';
        }
        
        ctx.beginPath();
        ctx.moveTo(x, 0);
        ctx.lineTo(x, bheight);
        ctx.stroke();
    }

    var ylines = -1;
    
    for (var y = 0; y <= bheight + 1; y += rheight / subrows) {
        ylines = ylines + 1;
        
        if(ylines == subrows) {
            ylines = 0;
        }
    
        if(ylines == 0) {
            ctx.lineWidth = '3';
        } else {
            ctx.lineWidth = '1';
        }
                
        ctx.beginPath();
        ctx.moveTo(0, y);
        ctx.lineTo(bwidth, y);
        ctx.stroke();
    }
    
    ctx.font = "18px Arial";
    ctx.strokeStyle = "red";
    ctx.fillStyle = "red";
    ctx.lineWidth = '3';
    
    var xi = 0;
    var yi = 0;
    for(var x = 0; x < bwidth; x += rwidth) {
        yi = 0;
        
        for(var y = 0; y < bheight; y += rheight) {
            label = xlabels.charAt(xi % xlabels.length) + (yi + 1).toString(); 
            
            // duplicate the letter i.e. AA if there are more than 26 lettered columns
            var repeats = Math.floor(xi / xlabels.length);
            for(var z = 0; z < repeats; z++) {
                label = xlabels.charAt(xi % xlabels.length) + label;
            }
            
            ctx.fillText(label, x + (rwidth / 2.0) - (rwidth / 10.0), y + (rheight / 2.0));
            
            yi = yi + 1;
        }
        
        xi = xi + 1;
    }
    
    ctx.strokeStyle = "black";
    ctx.fillStyle = "black";    
    ctx.lineWidth = '3';
    
    // Fill in the x header labels
    var xheadercanvas = document.getElementById('xheadercanvas');
    var xheaderctx = xheadercanvas.getContext('2d');
    
    xheaderctx.font = "18px Arial";
    xheaderctx.strokeStyle = "red";
    xheaderctx.fillStyle = "red";
    xheaderctx.lineWidth = '3';
    
    var xi = 0;
    for(var x = 0; x < bwidth; x += rwidth) {
        label = xlabels.charAt(xi % xlabels.length);
        
        // duplicate the letter i.e. AA if there are more than 26 lettered columns
        var repeats = Math.floor(xi / xlabels.length);
        for(var z = 0; z < repeats; z++) {
            label = xlabels.charAt(xi % xlabels.length) + label;
        }
            
        xheaderctx.fillText(label, x + (rwidth / 2.0) + 50, 25);
        
        //console.log(x + " (" + xi + "): " + label + " (" + rwidth + ", " + bwidth + ")");
        
        xi = xi + 1;
    }   

    // Fill in the y header labels
    var yheadercanvas = document.getElementById('yheadercanvas');
    var yheaderctx = yheadercanvas.getContext('2d');
    
    yheaderctx.font = "18px Arial";
    yheaderctx.strokeStyle = "red";
    yheaderctx.fillStyle = "red";
    yheaderctx.lineWidth = '3';
    
    var yi = 0;
    for(var y = 0; y < bheight; y += rheight) {
        label = (yi + 1).toString(); 
        yheaderctx.fillText(label, 25, y + (rheight / 2.0));
        
        yi = yi + 1;
    }       
}

function drawGridSquare(leftx, topy, rectwidth, rectheight, rectcolor, xsquare, ysquare) {
    ctx.fillStyle = rectcolor;
    
    var origleftx = leftx;
    var origtopy = topy;
    var origrectwidth = rectwidth;
    var origrectheight = rectheight;
    
    // Where is this grid square?  If it is known, override original x and y coordinates with these in case the dimensions have changed.  Otherwise, calculate it from the coordinates given.
    if(typeof xsquare == 'undefined' && typeof ysquare == 'undefined') {
        xsquare = Math.floor(1.0 * leftx / rectwidth);
        ysquare = Math.floor(1.0 * topy / rectheight);
    }
    
    leftx =  xsquare * (1.0 * gridwidth / subcols);
    topy =  ysquare * (1.0 * gridheight / subrows);
    rectwidth = (1.0 * gridwidth / subcols);
    rectheight = (1.0 * gridheight / subrows);    
    
    console.log("Drawing Grid Square: " + leftx + ", " + topy + ", " + rectwidth + ", " + rectheight + ", " + rectcolor + ", " + xsquare + ", " + ysquare + "; originally: " + origleftx + ", " + origtopy + ", " + origrectwidth + ", " + origrectheight);    
    
    // Fill in that rectangle
    ctx.fillRect(leftx + {{ page.rectangleepsilon | default: 0}},topy + {{ page.rectangleepsilon | default: 0}},rectwidth - {{ page.rectangleepsilon | default: 0}},rectheight - {{ page.rectangleepsilon | default: 0}});
}

{% if page.clickable %}
function fillgrid(e) {
    if(e.button != 0) { // left click only
        return;
    }
    
    // cross-browser canvas coordinates
    var x = e.offsetX || e.layerX - canvas.offsetLeft;
    var y = e.offsetY || e.layerY - canvas.offsetTop;
    
    // What grid rectangle are we in?
    var xsquare = Math.floor(x * 1.0 / (gridwidth / subcols));
    var ysquare = Math.floor(y * 1.0 / (gridheight / subrows));
    var leftx =  xsquare * (1.0 * gridwidth / subcols);
    var topy =  ysquare * (1.0 * gridheight / subrows);
    
    drawGridSquare(leftx, topy, gridwidth / subcols, gridheight / subrows, colorpicker.value, xsquare, ysquare);
    
    {% if page.fayelink %}
    // Send message to faye
    doFayeSend(leftx, topy, gridwidth, subcols, gridheight, subrows, colorpicker.value, xsquare, ysquare);
    {% endif %}
    
    {% if page.replaylink %}
    // Send to database
    doReplaySend(leftx, topy, gridwidth, subcols, gridheight, subrows, colorpicker.value, xsquare, ysquare);
    {% endif %}
}
{% endif %}
// ***** END OPTION: GRID SUPPORT *****
{% endif %}

{% if page.dofreedraw %}
// ***** OPTION: FREE DRAW SUPPORT *****
// create a flag for free drawing (if pen is on or off)
var isActive = false;

// array to collect coordinates for free drawing
var plots = [];

{% if page.clickable %}
function freeDrawListeners() {
    canvas.addEventListener('mousedown', startDraw, false);
    canvas.addEventListener('mousemove', draw, false);
    canvas.addEventListener('mouseup', endDraw, false);
}

// call this to add free draw listeners to attach the pen to the mouse; comment to disable
freeDrawListeners();

function drawOnCanvas() {
  //console.log(plots[0].x);
  //console.log(plots[0].y);
  
  color = colorpicker.value;
  
  //console.log(color);
  
  ctx.strokeStyle = color;
  
  ctx.beginPath();
  ctx.moveTo(plots[0].x, plots[0].y);

  for(var i=1; i<plots.length; i++) {
    ctx.lineTo(plots[i].x, plots[i].y);
  }
  ctx.stroke();
}

function draw(e) {
  if(!isActive) return;

  // cross-browser canvas coordinates
  var x = e.offsetX || e.layerX - canvas.offsetLeft;
  var y = e.offsetY || e.layerY - canvas.offsetTop;

  plots.push({x: x, y: y});
  
  drawOnCanvas();
}

function startDraw(e) {
  if(e.button != 0) { // left click only
      return;
  }
    
  isActive = true;
}

function endDraw(e) {
  isActive = false;

  // empty the array
  plots = [];
}
{% endif %}
// ***** END OPTION: FREE DRAW SUPPORT *****
{% endif %}
</script>
