---
layout: default

directions: "Consider the activity models and answer the questions provided.  First reflect on these questions on your own briefly, before discussing and comparing your thoughts with your group.  Appoint one member of your group to discuss your findings with the class, and the rest of the group should help that member prepare their response.  Answer each question individually from the activity on the Class Activity Questions discussion board.  After class, think about the questions in the reflective prompt and respond to those individually in your notebook.  Report out on areas of disagreement or items for which you and your group identified alternative approaches.  Write down and report out questions you encountered along the way for group discussion."

submission: "Submit your answers to the questions using the Class Activity Questions discussion board.  You may also respond to questions or comments made by others, or ask follow-up questions there.  Answer any reflective prompt questions in the Reflective Journal section of your OneNote Classroom personal section."

embed_directions_replit: "You can try out some code examples in this embedded development environment!  To share this with someone else, first have one member of your group make a small change to the file, then click \"Open in Repl.it\".  Log into your <a href=\"https://repl.it/\">Repl.it</a> account (or create one if needed), and click the \"Share\" button at the top right.  Note that some embedded Repl.it projects have multiple source files; you can see those by clicking the file icon on the left navigation bar of the embedded code frame.  Share the link that opens up with your group members.  Remember only to do this for partner/group activities!"

---

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<!--Syntax highlighting in Javascript!-->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/shCore.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/shBrushJScript.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/shBrushCpp.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/shBrushMatlabSimple.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/shBrushPython.js"></script>
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/shCoreDefault.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>
<!--Syntax highlighting in Javascript!-->
            
<div id="main" role="main">
  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>

    {% if page.info.prev or page.info.next %}
    <p>
    {% if page.info.prev %}
    <button onclick="window.location.href = '{{ page.info.prev }} ';"> &lt--- Previous</button>
    {% endif %}
    {% if page.info.next %}
    <button onclick="window.location.href = '{{ page.info.next }}';">Next ---&gt</button>
    {% endif %}
    </p>
    <HR>
    {% endif %}

    {% if page.info.goals %}
    <h1>Activity Goals</h1>
    The goals of this activity are:
    <ol>
    {% for goal in page.info.goals %}
    <li>{{goal}}</li>
    {% endfor %}
    </ol>
    {% endif %}

    {% if page.info.additional_reading %}
    <h1>Supplemental Reading</h1>
    Feel free to visit these resources for supplemental background reading material.
    <ul>
    {% for entry in page.info.additional_reading %}
    <li><a href="{{entry.link}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %} 
    
    <h1>The Activity</h1>
    
    {% if layout.directions %}
    <h2>Directions</h2>
    {{ layout.directions }}
    {% endif %}  
    
    {% if page.info.models %}
    {% assign model_num = 1 %}
    <hr style="border: 1px solid black;"/>
    {% for model in page.info.models %}
        <h2>Model {{ model_num }}: {{ model.title }}</h2>
        {% assign model_num = model_num | plus:1 %}
        
        <div style="text-align: center; width: 100%;">
        {{ model.model }}
        </div>
        
        {% if model.questions %}
        <h3>Questions</h3>
        <ol>
        {% for question in model.questions %}
        <li>{{ question }}</li>
        {% endfor %}
        </ol>
        {% endif %}
        
        {% if model.embed %}
        {% if model.embed contains "repl.it" %}
        <h3>Embedded Code Environment</h3>
        {% endif %}
        {% if model.embed contains "repl.it" %}
        {{ layout.embed_directions_replit }}
        {% endif %}
        
        {{ model.embed }}
        {% endif %}
        
        <hr style="border: 1px solid black;"/>
    {% endfor %}
    {% endif %}
    
    {{ content }} 
    
    {% if page.info.try_partner %}
    <h2>Try It with a Partner</h2>
    <ul>
    {% for entry in page.info.try_partner %}
    <li>{{entry}}</li>
    {% endfor %}
    </ul>
    {% endif %} 

    {% if page.info.try_own %}
    <h2>Try It on Your Own</h2>
    <ul>
    {% for entry in page.info.try_own %}
    <li>{{entry}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.info.reflective_prompts %}
    <h2>Reflective Journal Prompt</h2>
    <ol>
    {% for prompt in page.info.reflective_prompts %}
    <li>{{ prompt }}</li>
    {% endfor %}
    </ol>
    {% endif %}       
    
    {% if page.info.exit_ticket %}
    <h2>Exit Ticket</h2>
    <ul>
    {% for entry in page.info.exit_ticket %}
    <li>{{entry}}</li>
    {% endfor %}
    </ul>        
    {% endif %}       
    
    {% if layout.submission %}
    <h2>Submission</h2>
    {{ layout.submission }}
    {% endif %}
    
    {% if page.info.additional_practice %}
    <h1>For Additional Practice</h1>
    Feel free to visit these resources for additional practice exercises.
    <ul>
    {% for entry in page.info.additional_practice %}
    <li><a href="{{entry.link}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %} 

    {% if page.info.teacher_highlights %}
    <h1>Teacher Highlights</h1>
    <ul>
    {% for entry in page.info.teacher_highlights %}
    <li>{{entry}}</li>
    {% endfor %}
    </ul>    
    {% endif %}    
  </div>
</div>