---
layout: default
---

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div id="main" role="main">
  <div class="archive">
    <h1 class="page__title">{{ page.title }}{% if page.info.points %} ({{page.info.points}} Points){% endif %}</h1>

    {% if page.info.goals %}
    <h1>Assignment Goals</h1>
    The goals of this assignment are:
    <ol>
    {% for goal in page.info.goals %}
    <li>{{goal}}</li>
    {% endfor %}
    </ol>
    {% endif %}

    <h1>The Assignment</h1>
    {{ content }} 
    
    {% if page.info.rubric %}
    <h1>Assignment Rubric</h1>
    <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Pre-Emerging (< 50%)</th>
        <th>Beginning (50%)</th>
        <th>Progressing (85%)</th>
        <th>Proficient (100%)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page.info.rubric %}
      <tr>
        <td>{{item.description}} ({{item.weight}}%)</td>
        <td>{{item.preemerging}}</td>
        <td>{{item.beginning}}</td>
        <td>{{item.progressing}}</td>
        <td>{{item.proficient}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endif %}
    
    
    
    {% if page.info.contract %}
    <h1>Contract Grading</h1>
    
    <h2>To Receive an A</h2>
    <ul>
    {% for item in page.info.contract.a %}
    <li>{{item}}</li>
    {% endfor %}
    </ul>
    
    <h2>To Receive a B</h2>
    <ul>
    {% for item in page.info.contract.b %}
    <li>{{item}}</li>
    {% endfor %}
    </ul>
    
    <h2>To Receive a C</h2>
    <ul>
    {% for item in page.info.contract.c %}
    <li>{{item}}</li>
    {% endfor %}
    </ul>    
    {% endif %}
  </div>
</div>