---
layout: default
---

<script type="text/javascript" src="{{site.baseurl}}/assets/js/processing.min.js"></script>
<style>
.image_off, #home:hover .image_on{
   display:none
}
.image_on, #home:hover .image_off{
   display:block
}
{% for file in page.files %}
{% if file.ismain == false %}
#{{ file.name }}Editor {
    {% if file.isvisible == true %}
    position: relative;
    width: 700px;
    height: 250px;
    {% else %}
    position: fixed;
    bottom: 10px;
    visibility: hidden
    {% endif %}
}
{% else %}
#mainEditor {
    {% if file.isvisible == true %}
    position: relative;
    width: 700px;
    height: 100px;
    {% else %}
    position: fixed;
    bottom: 10px;
    visibility: hidden
    {% endif %}
}
{% endif %}
{% endfor %}

#feedbackText {
    position: relative;
    width: 700px;
    height: 100px;
}

</style>

<script src="{{site.baseurl}}/assets/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/modules-common.js" type="text/javascript" charset="utf-8"></script>
        
<div id="main" role="main">
  <div class="archive">    
    <h1 class="page__title">{{ page.title }}{% if page.info.points %} ({{page.info.points}} Points){% endif %}</h1>
        Developed by <a href="https://www.ursinus.edu/live/profiles/4502-christopher-tralie">Professor Tralie</a> and Professor Mongan.

        {% if page.info.prev or page.info.next %}
        <p>
        {% if page.info.prev %}
        <button onclick="window.location.href = '{{ page.info.prev }} ';"> &lt--- Previous</button>
        {% endif %}
        {% if page.info.next %}
        <button onclick="window.location.href = '{{ page.info.next }}';">Next ---&gt</button>
        {% endif %}
        </p>
        <HR>
        {% endif %}
        
        {% if page.info.goals %}
        <h1>Exercise Goals</h1>
        The goals of this exercise are:
        <ol>
        {% for goal in page.info.goals %}
        <li>{{goal}}</li>
        {% endfor %}
        </ol>
        {% endif %}
        
        {% if page.info.instructions %}
        {{ page.info.instructions }}
        {% endif %}
        
        
        <div id="correctArea"></div>
        
        <p>
        <button type = "button" onclick = "runCode()">Run</button>
        </p>
        
        <!-- Must name main file "main" and the div tag here/css/processing code below is hardcoded to mainEditor -->
        {% for file in page.files %}
        {% if file.isvisible == true %}
        <h3>{{ file.filename }}</h3>
        {% endif %}
        
        {% if file.ismain == true %}<div id="mainEditor">{% else %}<div id="{{ file.name }}Editor">{% endif %}{{ file.code | strip }}</div>
        {% endfor %}
        
        <h3>Output</h3>
        <div id="feedbackText"></div>

        <canvas id="pscanvas" height="20px"></canvas>


        <script>
        let canvas = document.getElementById("pscanvas");
        let correctArea = document.getElementById("correctArea");

        var editors = new Array();

        {% for file in page.files %}
        {% if file.ismain == true %}
        let mainEditor = ace.edit("mainEditor");
        mainEditor.setFontSize(16);
        mainEditor.session.setMode("ace/mode/java");
        {% if file.isreadonly == true %}
        mainEditor.setReadOnly(true);            
        {% else %}
        mainEditor.setReadOnly(false);            
        {% endif %}
        {% else %}
        let {{ file.name }}Editor = ace.edit("{{ file.name }}Editor");
        {{ file.name }}Editor.setFontSize(16);
        {{ file.name }}Editor.session.setMode("ace/mode/java");
        {% if file.isreadonly == true %}
        {{ file.name }}Editor.setReadOnly(true);            
        {% else %}
        {{ file.name }}Editor.setReadOnly(false);            
        {% endif %} 
        editors.push({{ file.name }}Editor);
        {% endif %}
        {% endfor %}

        let feedback = ace.edit("feedbackText");
        feedback.setFontSize(16);
        feedback.renderer.setShowGutter(false);


        function runCode() {
            try {
                let editorText = "";
                for (var i in editors) {
                    editorText += editors[i].getValue();
                    editorText += "\n";
                }
                let code = makeCode(editorText, mainEditor.getValue());
                instance = new Processing(canvas, code);
                {{ page.processor.feedbackprocess | strip }}
                if ({{ page.processor.correctcheck | strip}}) {
                    correctArea.innerHTML = "<h3><font color = #00AA00>{{ page.processor.correctfeedback | strip}}</font></h3>";
                    {% if page.processor.submitformlink and page.processor.submitformlink != false %}
                    correctArea.innerHTML += `
                    <iframe src = "{{ page.processor.submitformlink | strip }}" width=800 height=500>
                    `;
                    {% endif %}
                }
                {% if page.processor.incorrectchecks %}
                {% for check in page.processor.incorrectchecks %}
                else if ({{ check.incorrectcheck | strip}}) {
                    correctArea.innerHTML = "<h3><font color = red>{{ check.feedback | strip }}</font></h3>";
                }
                {% endfor %}
                {% endif %}
                else {
                    correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
                }
            }
            catch(err) {
                feedback.setValue("Error: " + err.message);
            }

        }
        </script>        
        
    {{ content }} 
  </div>
</div>

<!-- Scripts -->
			<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/util.js"></script>
			<script src="{{site.baseurl}}/assets/js/main.js"></script>
<!-- End Scripts -->  