---
layout: default

formprocessor: "https://mathcs.ursinus.edu:8085/"
facultyemail: "wmongan@ursinus.edu"

formprocessordirections: "Clicking Run below will check your work and, if it passes, will submit your work automatically. <strong>You must be connected to the VPN for submission to be successful!  You will receive a copy of your code via e-mail, so you'll know that it was submitted if you receive that e-mail!</strong>  VPN access requires Multi-Factor Authentication, which sends you a code when you log into the network.  Instructions on configuring these for your account can be found <a href=\"https://www.ursinus.edu/offices/information-technology/technology-support/hardware-and-software-help/remote-connections-and-vpn/\">here</a>."

submitformlinkdirections: "Clicking Run below will check your work and, if it passes, make a page appear above that you can use to submit your work or with further instructions."

mynetid: wmongan
---

<script type="text/javascript" src="{{site.baseurl}}/assets/js/processing.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.rawgit.com/jcubic/jquery.terminal/master/js/jquery.terminal.min.js"></script>
<link href="https://cdn.rawgit.com/jcubic/jquery.terminal/master/css/jquery.terminal.min.css" rel="stylesheet"/>
<script src="https://cdn.rawgit.com/jcubic/jquery.terminal/master/js/unix_formatting.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    
<style>
.image_off, #home:hover .image_on{
   display:none
}
.image_on, #home:hover .image_off{
   display:block
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow:auto;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    background: #eee;
    height: 100%;
    min-height: 100%;
    align-items: flex-start;
    align-content: flex-start;
}
.tabs label {
    order: 1;
    display: block;
    padding: 6px 25px;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #ccc;
    font-weight: bold;
    transition: background ease 0.2s;
}
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    background: #fff;
    padding-top: 5px;
    height: calc(100% - 30px);
}
.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"]:checked + label {
    background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.dispbox {
    display: flex;
    justify-content: center;
}
.main {
    height: 100vh;
}
.box {
    position: relative;
    width: 50vw;
    height: 100vh;
}
#plot {
    background-color: #727272;
    align-items: center;
    height: 100%;
    position: relative;
}
#plot-canvas {
    background-color: #FFFFFF;
    width: 40vw;
    height: 40vw;
    max-height: 80vh;
    max-width: 80vh;
}
#plot-save {
    position: absolute;
    top: 5px;
    right: 5px;
}
#files-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}
@media (orientation: portrait) {
    .dispbox {
        flex-flow: column;
    }
    .box {
        width: 100vw;
        height: 50vh;
    }
    #plot-canvas {
        width: 40vh;
        height: 40vh;
        max-height: 80vw;
        max-width: 80vw;
    }
}
</style>
    
<script src="{{site.baseurl}}/assets/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/modules-common.js" type="text/javascript" charset="utf-8"></script>

<div id="main" role="main">
  <div class="archive">    
    <h1 class="page__title">{{ page.title }}{% if page.info.points %} ({{page.info.points}} Points){% endif %}</h1>
        Adapted from <a href="https://github.com/georgestagg/webR">webR</a> and <a href="https://www.ursinus.edu/live/profiles/4502-christopher-tralie">Professor Tralie</a> by <a href="https://www.ursinus.edu/live/profiles/5313-william-mongan">Professor Mongan</a>.

        {% if page.info.prev or page.info.next %}
        <p>
        {% if page.info.prev %}
        <button onclick="window.location.href = '{{ page.info.prev }} ';"> &lt--- Previous</button>
        {% endif %}
        {% if page.info.next %}
        <button onclick="window.location.href = '{{ page.info.next }}';">Next ---&gt</button>
        {% endif %}
        </p>
        <HR>
        {% endif %}
        
        {% if page.info.goals %}
        <h1>Exercise Goals</h1>
        The goals of this exercise are:
        <ol>
        {% for goal in page.info.goals %}
        <li>{{goal}}</li>
        {% endfor %}
        </ol>
        {% endif %}
        
        {% if page.info.instructions %}
        {{ page.info.instructions }}
        {% endif %}
        
        <div id="correctArea"></div>
        
        <p>
        <strong>Enter your Ursinus netid, and run your code in the console at the bottom of the page <u>before</u> clicking run.  This is <u>not</u> your ID number or your email.  For example, my netid is <code>{{layout.mynetid}}</code> (non Ursinus students can simply enter their name to get this to run, but they won't get an e-mail record or any form of credit).</strong> 
        </p>
        
        <table>
            <tr>
                <td>
                    Netid
                </td>
                <td>
                    <input type="text" id="studentnetid" name="studentnetid" onchange="if(document.getElementById('studentnetid').value.length > 0) document.getElementById('runbutton').disabled = false; else document.getElementById('runbutton').disabled = true;">
                </td>
            </tr>
        </table>
        
        {% if layout.formprocessor and layout.formprocessor != false %}
        {{ layout.formprocessordirections }}<br>
        {% endif %}
        {% if page.processor.submitformlink and page.processor.submitformlink != false %}
        {{ layout.submitformlinkdirections }}<br>
        {% endif %}
        
        <button type = "button" onclick = "if(document.getElementById('studentnetid').value.length > 0) checkCode(); else correctArea.innerHTML = '<h3><font color = #AA0000>Please enter your netid first!</font></h3>';" id="runbutton" disabled>▶ Run</button>

        <br><br>
        
        <!-- webR Terminal Area -->
        <div class="main dispbox">
            <div id='term' class="box"></div>
            <div class="box">
                <div class="tabs">
                    <input type="radio" id="plots-tab" name="tab-group-1" checked="checked">
                    <label for="plots-tab">Plotting</label>
                    <div class="tab">
                        <div id='plot' class="dispbox">
                            <button id="plot-save">Save Plot</button>
                            <canvas id='plot-canvas' class="box" width="1008" height="1008"></canvas>
                        </div>
                    </div>
                    <input type="radio" id="files-tab" name="tab-group-1">
                    <label for="files-tab">Files</label>
                    <div class="tab">
                        <div>
                            <div id="files-bar">
                                <button id="upload-file" onclick="document.getElementById('input-upload').click();" style="flex: 1">Upload File</button>
                                <input id="input-upload" type="file" onchange="FSTree.uploadFile(this);" style="display: none"/>
                                <button id="download-file" disabled style="flex: 1">Download File</button>
                            </div>
                        </div>
                        <div id="jstree_fs">
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <!-- End webR Terminal Area -->              
        
    {{ content }} 
  </div>
</div>

<script>
    let correctArea = document.getElementById("correctArea");
    let correctlyAnswered = false;
    let numAttempts = 0;      

    <!-- https://stackoverflow.com/questions/7542586/new-formdata-application-x-www-form-urlencoded -->
    function urlencodeFormData(fd){
        var s = '';
        function encode(s){ return encodeURIComponent(s).replace(/%20/g,'+'); }
        for(var pair of fd.entries()){
            if(typeof pair[1]=='string'){
                s += (s?'&':'') + encode(pair[0])+'='+encode(pair[1]);
            }
        }
        return s;
    }

    /**
     * Send code to the server with a POST command
     * @param {boolean} vpnwarn Whether to warn about connecting to a vpn
     * @param {boolean} halfcredit Whether this is a half credit submission
     * @param {string} submitcode The code from the terminal environment to submit
     */
    function postCode(vpnwarn, halfcredit, submitcode) {
        <!-- Setting a layout.formprocessor will send a POST request to a form processor -->
        {% if layout.formprocessor and layout.formprocessor != false %}   
        var postbody = {
                'facultyemail': '{{ layout.facultyemail | strip }}', // required
                'magic': 'ursinus', // required
                'title': '{{ page.title | strip }}', // required
                'studentnetid': document.getElementById("studentnetid").value, //required
                'code': submitcode
        }; 
        {% if page.canvasasmtid %}
        postbody['canvasasmtid'] = "{{page.canvasasmtid}}";
        {% endif %}
        {% if page.canvaspoints %}
        postbody['canvaspoints'] = "{{page.canvaspoints}}";
        {% endif %}        
        if(halfcredit) {
            postbody['canvashalfcredit'] = true;
        }
        
        fetch('{{ layout.formprocessor | strip }}', {
            method: 'POST',
            body: new URLSearchParams(postbody) // URL encoding
        }).then((response) => {
            if(response.ok) {
                return response;
            } else {
                throw new Error("Failed to fetch.");
            }
        }).catch(function(error) {
            if (vpnwarn) {
                alert("Unable to submit.  Are you connected to the VPN?  Please try to submit again!");
            }                     
        });
        {% endif %}
    }
    
    function checkCode() {
        try {        
            // get code and output from the terminal, and separate them.
            // code starts with ">", and output starts with "["
            let feedbackString = ''; 
            let code = ''; 
            
            let output = term.get_output();
            var outputlines = output.split('\n');
            for(var i = 0; i < outputlines.length; i++) {
                if(outputlines[i].startsWith("> ")) { // the prompt
                    code += outputlines[i] + "\n";
                } else if(outputlines[i].startsWith("[")) {
                    outputline = outputlines[i].substring(outputlines[i].indexOf(" ")+1); // strip off the output line number heading
                    feedbackString += outputline + "\n";
                }
            }
            
            console.log("Code:\n\n" + code);
            console.log("Output Feedback String:\n\n" + feedbackString);
            
            numAttempts++;
            
            {{ page.processor.feedbackprocess | strip }}
            
            if ({{ page.processor.correctcheck | strip}}) {
                correctlyAnswered = true;
                correctArea.innerHTML = "<h3><font color = #00AA00>{{ page.processor.correctfeedback | strip}}</font></h3>";
                <!-- Setting a page.processor.submitformlink in the markdown will pop up an iframe with a page of your choice -->
                {% if page.processor.submitformlink and page.processor.submitformlink != false %}
                correctArea.innerHTML += `
                <iframe src = "{{ page.processor.submitformlink | strip }}" width=800 height=500>
                `;
                {% endif %}
                
                postCode(true, false, code);
            }
            {% if page.processor.incorrectchecks %}
            {% for check in page.processor.incorrectchecks %}
            else if ({{ check.incorrectcheck | strip}}) {
                correctArea.innerHTML = "<h3><font color = red>{{ check.feedback | strip }}</font></h3>";
            }
            {% endfor %}
            {% endif %}
            else {
                correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
            }
        }
        catch(err) {
            correctArea.innerHTML = "<h3><font color = red>{{ page.processor.incorrectfeedback | strip }}</font></h3>";
            console.log("Error: " + err.message + "\n\n" + err.stack);
        }

        {% if page.canvashalftries %}
        if (!correctlyAnswered && numAttempts == {{ page.canvashalftries }}) {
            postCode(false, true, code);
        }
        {% endif %}
    }    
</script> 

<script>
    var term = $('#term').terminal([], {
        prompt: '',
        greetings: false,
        history: true
    });
    term.echo("R is downloading, please wait...");
    var re = /^___terminal::/;
    // XHR proxy that handle methods from fetch in C
    window.XMLHttpRequest = (function(xhr) {
        return function() {
            var url;
            var props = {
                readyState: 4,
                status: 200
            };
            var enc = new TextEncoder("utf-8");
            return new Proxy(new xhr(), {
                get: function(target, name) {
                    if (url && ['response', 'responseText', 'status', 'readyState'].indexOf(name) != -1) {
                        if (name == 'response') {
                            var response = enc.encode(props.responseText);
                            return response;
                        }
                        return props[name];
                    } else if (name == 'open') {
                        return function(method, open_url) {
                            if (open_url.match(re)) {
                                url = open_url;
                            } else {
                                return target[name].apply(target, arguments);
                            }
                        };
                    } else if (name == 'send') {
                        return function(data) {
                            if (url) {
                                var payload = url.split('::');
                                if (payload[1] == 'read') {
                                    term.read(
                                        payload.length > 2 ? payload[2] : '',
                                        function(text) {
                                            var reg = /(library|require)\(['"]?(.*?)['"]?\)/g;
                                            var res;
                                            var packages = [];
                                            while((res = reg.exec(text)) !== null) {
                                                packages.push(res[2]);
                                            }
                                            webRPromise.then( function(webR) {
                                                webR.loadPackages(packages).then(_ => {
                                                    props.responseText = text;
                                                    target.onload();
                                                    FSTree.jstree.refresh();
                                                }, function(e) {
                                                    console.log("An error occured loading one or more packages. Perhaps they do not exist in webR-ports.");
                                                    props.responseText = text;
                                                    target.onload()
                                                });
                                            });
                                        }
                                    );
                                    term.history().enable();
                                }
                            } else {
                                return target[name].apply(target, arguments);
                            }
                        };
                    }
                    return target[name];
                },
                set: function(target, name, value) {
                    target[name] = value;
                }
            });
        };
    })(window.XMLHttpRequest);
</script>

<script type="text/javascript" src="{{site.baseurl}}/assets/js/R/webR.js"></script>

<script>
    var FSTree = {
        jstree: null,
        init: function(){
            $('#jstree_fs').on('changed.jstree', function (e, data) {
                if(data.selected.length > 0){
                    var node = this.jstree.get_node(data.selected[0]);
                    if(node.icon == "jstree-file"){
                        $('#download-file').prop('disabled', false);
                        $('#upload-file').prop('disabled', true);
                    } else {
                        $('#download-file').prop('disabled', true);
                        $('#upload-file').prop('disabled', false);
                    }
                }
            }.bind(this)).jstree({
                "core" : {
                    "check_callback" : true,
                    "data" : this.cbNodeJSON(),
                    "multiple": false,
                },
            });
            this.jstree = $('#jstree_fs').jstree();
        },
        getSelectedNode: function(){
            var nodes = this.jstree.get_selected(true);
            if (nodes.length > 0){
                return nodes[0];
            }
            return null;
        },
        getNodeFileName: function(node){
            var parents = node.parents.map(nid => this.jstree.get_node(nid).text).reverse().slice(1);
            parents.push(node.text);
            parents[0]='';
            return parents.join('/');
        },
        downloadNodeasFile: function(node){
            var filename = node.text;
            var filepath = this.getNodeFileName(node);
            webRPromise.then(webR => webR.getFileData(filepath)).then( data => {
                var blob = new Blob([data], {type: "application/octet-stream"});
                var url = URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.download = filename;
                link.href = url;
                link.click();
                link.delete;
            });
        },
        uploadFile: function(fileInput){
            var node = this.getSelectedNode();
            var filepath = this.getNodeFileName(node);
            if (filepath === ''){
                filepath = '/';
            }
            if (fileInput.files.length == 0)
                return;
            var file = fileInput.files[0];
            var fr = new FileReader();
            fr.onload = function () {
                var data = new Uint8Array(fr.result);
                webRPromise.then(webR => webR.putFileData(filepath + '/' + file.name, data)).then( function(){
                    this.jstree.refresh()
                }.bind(this));
                fileInput.value = '';
            }.bind(this);
            fr.readAsArrayBuffer(file);
        },
        getNodeJSON: function(node){
            if(node.isFolder){
                var info = {
                    'text': node.name,
                    'children':
                    Object.entries(node.contents).map(
                        ([k, v], i) => this.getNodeJSON(v)
                    )
                };
                if(['/'].includes(node.name)){
                    info['state'] = {'opened': true};
                }
                return info;
            }
            return {'text': node.name, 'icon': 'jstree-file'};
        },
        cbNodeJSON: function(){
            var self = this;
            return function(obj, cb) {
                var json;
                if(obj.id === '#'){
                    json = self.getNodeJSON(FS.open('/').node);
                    json['parent'] = '#';
                    json['state']['selected'] = true;
                }
                cb.call(this, json);
            };
        },
    };
    var webRPromise = loadWebR({
        Rargs: [],
        WEBR_URL: "{{site.baseurl}}/assets/js/R/",
        PKG_URL: "https://github.com/georgestagg/webr-ports/tree/main/dist", //"https://www.mas.ncl.ac.uk/~ngs54/webR-testing/packages/",        
        runtimeInitializedCB: function(){
            FSTree.init();
            term.clear();
        },
        loadingPackageCB: function(packageName){
            term.echo("Downloading webR package: " + packageName);
        },
        ENV: {
            R_NSIZE: "1000000",
            R_VSIZE: "64M",
            R_HOME: "/usr/lib/R",
            R_ENABLE_JIT: "0",
            R_DEFAULT_DEVICE: "canvas",
            COLORTERM: "truecolor",
        },
        stdout: function(text) {
            term.echo(text, {exec: false});
        },
        stderr: function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            term.error(text);
        },
    });
    const download = document.getElementById('download-file');
    download.addEventListener('click', function (e) {
        FSTree.downloadNodeasFile(FSTree.getSelectedNode());
    });
    const plotsave = document.getElementById('plot-save');
    plotsave.addEventListener('click', function (e) {
        const link = document.createElement('a');
        link.download = 'plot.png';
        link.href = document.getElementById('plot-canvas').toDataURL();
        link.click();
        link.delete;
    });
</script>

